
/* body{color:black;font-size:15px;margin:0px auto 0px auto;width:95%}
div#header{margin-bottom:30px;padding:12px 0px 12px 0px}
div#header #navigation{text-align:center}
div#header #navigation a{color:black;font-size:14px;font-weight:bold;margin-left:12px;text-decoration:none}
div#footer{border-top:solid 1px black;color:#555;font-size:12px;margin-top:30px;padding:12px 0px 12px 0px;text-align:center}
h1{font-size:24px}
h2{font-size:20px}

h3 {
	margin: 1em 0 0.5em 0;
	position: relative;
	font-size: 18px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	padding: 5px 15px;
	color: white;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
} */


td {height: 35px}

img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

div.info{color:#555;font-size:14px;font-style:italic}

.footer-text {
    text-align: center;
}

.to-be-determined {
    color: #D00
}

.program-name {
//    width: 100%;
}
.program-start {
    width: 9%;
}
.program-end {
    width: 9%;
}
.program-session {
    background-color: #f9f9f9;
    border-color: #bce8f1;
}
.program-keynote {
    background-color: #f0f0f0;
    border-color: #bce8f1;
}

/*
unvisited link
a:link {color: #009000}

visited link
a:visited {color: #00C000}

mouse over link
a:hover {color: #FFFF00}

selected link
a:active {color: #0000FF}
*/
